body{
  background-color: aliceblue;
}

.ht{
  height: 100vh;
}

.hf{
  height: 80vh;
}

.bor{
  border: 1px solid black;
}

.m5{
  margin-top: 5%;
}

.box1{
  border: solid 8px #1775BB;
  border-radius: 20px;
  height: 70vh;
}

.box2{
  border: solid 8px #1775BB;
  border-radius: 20px;
  height: 80vh;
}